

.container {
  width: 100%;
  display: flex;
  height: 600px;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px;
  padding-bottom: 40px;
}
.item {
  width: 19%;
  background-color: $mainGreen;
  border-radius: 10px;
}
.item:hover {
  animation: pulse 2s infinite;
}
@keyframes pulse {  
  0% {
    box-shadow: 0 0;
  }
  70% {
    box-shadow: 0 0 5px 10px rgba(255,255,255,0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255,255,255,0);
  }  
}
.item h1 {
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 1px #000;
}



.item-1 {
  height: 90%;
  border: 5px solid $mainGreen;
  border-bottom: none;
  animation: riseUp1 1.5s ease;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
  position: relative;
}
.item-1 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: text 1s ease;
  animation-delay: 1.1s;
  animation-fill-mode: backwards;
}
@keyframes riseUp1 {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 90%;
  }
}



.item-2 {
  height: 90%;
  border: 5px solid $mainGreen;
  border-bottom: none;
  animation: riseUp2 1.5s ease;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
  position: relative;
}
.item-2 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: text 1s ease;
  animation-delay: 1.2s;
  animation-fill-mode: backwards;
}
@keyframes riseUp2 {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 90%;
  }
}



.item-3 {
  height: 75%;
  border: 5px solid $mainGreen;
  border-bottom: none;
  animation: riseUp3 2.5s ease;
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
  position: relative;
}
.item-3 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: text 1s ease;
  animation-delay: 1.3s;
  animation-fill-mode: backwards;
}
@keyframes riseUp3 {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 75%;
  }
}



.item-4 {
  height: 50%;
  border: 5px solid $mainGreen;
  border-bottom: none;
  animation: riseUp4 2.5s ease;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  position: relative;
}
.item-4 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: text 1s ease;
  animation-delay: 1.4s;
  animation-fill-mode: backwards;
}
@keyframes riseUp4 {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 50%;
  }
}



.item-5 {
  height: 40%;
  border: 5px solid $mainGreen;
  border-bottom: none;
  animation: riseUp5 2.5s ease;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  position: relative;
}
.item-5 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: text 1s ease;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}
@keyframes riseUp5 {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 40%;
  }
}



@keyframes text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
