.wrapper {
   overflow: hidden;
   padding-left: 18px;
   padding-right: 18px;
   max-width: 1236px;
   margin-left: auto;
   margin-right: auto;

   &--medium {
      max-width: 976px;
   }

   .wrapper {
      padding-left: 0;
      padding-right: 0;
   }

   &--b-margin {
      margin-bottom: 1rem;


      @mixin atSmall {
         margin-bottom: 3.875rem;
      }
   }

}

/*
.iframe-container{
   position: relative;
   width: 100%;
   padding-bottom: 56.25%; 
   height: 0;
 }
 .iframe-container iframe{
   position: absolute;
   top:0;
   left: 0;
   width: 100%;
   height: 100%;
 }
 */ 